header{
    width: 100vw;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 170px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
}

/* Left Navbar */
.left-nav {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
    scale: 0.75;
    transition: 150ms;
}

.left-nav:hover{
    cursor: pointer;
    scale: 0.8;
}

nav img {
    object-fit: contain;
    width: 113px;
    border-radius: 50%;
}

.left-nav h1 {
    padding: 0 16px 0 16px;
    font-size: 32px;
}

/* Center Navbar */
.center-nav {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 0 23%; */
}

.center-nav a {
    text-decoration: none;
    height: 100%;
    padding-top: 73px;
    padding-bottom: 73px;
    color: rgb(136, 136, 136);
    font-weight: bold;
}

.center-nav a:hover {
    text-decoration: none;
    height: 100%;
    padding-top: 73px;
    padding-bottom: 73px;
    color: black;
    font-weight: bold;
}

#home {
    padding-left: 24px;
    padding-right: 24px;
}

#hotel-list {
    padding-left: 24px;
    padding-right: 24px;
}

#about-us {
    padding-left: 24px;
    padding-right: 24px;
}

/* Right Navbar */
.right-nav-case{
    width: 20%;
    height: 100%;
}

.right-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 150ms;
    height: 100%;
}

.right-nav i{
    color: #597445;
    margin-right: 18px;
}

.right-nav h1 {
    color: #597445;
    font-size: 18px;
}

.right-nav:hover{
    scale: 1.1;
}

.right-nav-case:hover .dropdown{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown button{
    width: 100%;
    height: 40%;
    background-color: transparent;
    border: none;
}

.my-profile:hover{
    cursor: pointer;
    background-color: #597445;
    color: white;
}

.logout{
    color: rgb(250, 119, 119);
}

.logout:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(255, 85, 85);
}

.dropdown{
    display: none;
    z-index: 1;
    width: 100%;
    background-color: white;
    height: 150px;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.20);
}
